.Game {
  --toolbar-height: 80px;
  grid-template-columns: [column-left] 1fr 1fr [column-right];
  grid-template-rows: 1fr 1fr var(--toolbar-height);
  display: grid;
  width: 100%;
  height: 100%;
}

.Toolbar {
  grid-column: column-left / column-right;
  background: #000000;
}

.ImagesLayer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: var(--toolbar-height);
  pointer-events: none;
}

.Score {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Score-value {
  flex: 1;
  text-align: center;
  font-family: "GothamPro-Black";
  font-size: 55px;
  color: #fff;
}

.Score-value:nth-child(1) {
  text-shadow: 0 2px 24px rgba(255, 255, 255, 0.3),
    0 2px 12px rgba(255, 255, 255, 0.5), 4px 8px 0 rgba(0, 0, 0, 0.07);
}

.Score-value:nth-child(2) {
  text-shadow: 0 2px 24px rgba(255, 255, 255, 0.3),
    0 2px 12px rgba(255, 255, 255, 0.5), -4px -8px 0 rgba(0, 0, 0, 0.07);
}

.CenterSVG {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.LogoAreaSVG {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.LogoSVG {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.LeftTopSVG {
  position: absolute;
  left: 0;
  top: 0;
}

.RightTopSVG {
  position: absolute;
  right: 0;
  top: 0;
}

.RightBottomSVG {
  position: absolute;
  right: 0;
  bottom: 0;
}

.LeftBottomSVG {
  position: absolute;
  left: 0;
  bottom: 0;
}

.Players {
  padding: 50px 0;
}

.Close {
  -webkit-appearance: none;
  padding: 0;
  background: none;
  border: 0;
  position: absolute;
  right: 30px;
  top: 30px;
}

.Player {
  display: flex;
  align-items: center;
  width: 380px;
  margin: 0 auto;
  height: 100px;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  background: none;
}

.Player-avatar {
  flex-shrink: 0;
}

.Player-name {
  color: white;
  font-family: "GothamPro-Medium";
  font-size: 18px;
  line-height: 1.33;
  margin-left: 20px;
  overflow: hidden;
}

.Player-name span {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
