.container {
  margin: 20px 0;
  margin-left: 50px;
}

.sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
  float: left;
}

.usertitleName {
  padding-top: 15px;
  margin-left: 5px;
  font-family: "GothamPro-Black";
  font-size: 20px;
  font-weight: 600;
  max-width: 200px;
  width: 300px;
  margin-bottom: 7px;
}
